
.env
.env.*

# macOS
.DS_Store

# Logs, cache, tmp
**/log/*
!**/log/.keep
**/log/

**/tmp/*
!**/tmp/.keep
**/tmp/

# PIDs en tmp
**/tmp/pids/*
!**/tmp/pids/
!**/tmp/pids/.keep

# Storage de ActiveStorage
**/storage/*
!**/storage/.keep

# SQLite (por si algún servicio usa SQLite)
**/*.sqlite3
**/*.sqlite3-journal

# Credentials
**/config/master.key
**/config/credentials/*.key
**/config/credentials.yml.enc
**/config/database.yml

# Bundle vendor
**/vendor/bundle

# Assets, packs & node_modules
**/public/assets
**/public/packs*
**/public/manifest.json
**/node_modules
**/.cache

# Debugging
.byebug_history
.pry_history
**/coverage/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Yarn/npm
yarn-error.log
npm-debug.log

# Docker
*.pid
*.log
docker-compose.override.yml

**/tmp/spring
